.text-project {
  max-width: 660px;
  margin: 60px auto 70px 10%;
}
@media screen and (max-width: 700px) {
  .text-project {
    max-width: auto;
    margin: 60px 20px;
  }
}
.text-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 30px 0;
  margin-bottom: 40px;
}
.text-list ul {
  margin-right: 20px;
  margin-bottom: 20px;
}
.text-list ul li {
  margin: 0 3px;
}
.text-list ul li strong {
  font-weight: 500;
}
@media screen and (max-width: 1300px) {
  .text-list {
    align-items: flex-end;
    justify-content: flex-start;
  }
  .text-list p {
    margin-right: 20px;
    min-width: 400px;
  }
}
#contato > a {
  margin-bottom: 25px;
}
#contato > a img {
  width: 100%;
}
#contato .contato__textos {
  display: flex;
  justify-content: space-between;
  font-family: 'gilroy', sans-serif;
}
#contato .contato__textos .address {
  width: 20%;
  font-family: 'gilroy', sans-serif;
  font-weight: 300;
  line-height: 18px;
  max-width: 190px;
  font-size: 15px;
}
#contato .contato__textos ul {
  justify-content: flex-end;
  width: 70%;
  display: flex;
  list-style: none;
}
#contato .contato__textos ul li {
  margin-right: 10px;
  width: 30%;
}
#contato .contato__textos ul li a {
  text-decoration: none;
}
#contato .contato__textos ul h2 {
  font-family: 'gilroy', sans-serif;
  margin-bottom: 5px;
  border-bottom: 1px solid black;
}
@media screen and (max-width: 1000px) {
  #contato {
    display: flex;
    flex-direction: column;
  }
  #contato .wp-block-image img {
    height: 40vh;
    object-fit: cover;
  }
  #contato > a {
    order: 1;
    margin-bottom: 0;
  }
  #contato .contato__textos {
    order: 0;
    flex-direction: column;
    margin-bottom: 20px;
  }
  #contato .contato__textos .address {
    order: 1;
    width: 190px;
  }
  #contato .contato__textos ul {
    order: 0;
    flex-direction: column;
    justify-content: flex-start;
  }
  #contato .contato__textos ul li {
    width: 100%;
    margin-bottom: 20px;
  }
  #contato .contato__textos ul h2 {
    line-height: 15px;
    border-bottom: none;
    margin-bottom: 2px;
  }
}
#cinza {
  background-color: #e7e7e7;
}
#cinza .wp-block-columns:first-of-type {
  margin: 0;
}
#cinza .wp-block-columns {
  margin: 30px 0;
}
#cinza .wp-block-columns figure ~ figure {
  margin: 50px 0;
}
#cinza .wp-block-columns .wp-block-columns {
  margin: 0;
}
.img-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.img-block .img-block__item {
  width: 100%;
  min-width: 110px;
  display: block;
  color: black;
  text-decoration: none;
  position: relative;
  transition: all 0.7s ease;
  max-width: 100%;
  cursor: pointer;
}
.img-block .img-block__item .img-block__item-img {
  position: relative;
}
.img-block .img-block__item img {
  width: 100%;
  height: auto;
}
.img-block .img-block__item:hover {
  position: relative;
}
.img-block .img-block__item:hover span {
  position: absolute;
  top: 0px;
  right: 0;
  left: 0;
  bottom: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  transition: background 0.3s;
}
.img-block .img-block__item:hover .img-block__item-text h2,
.img-block .img-block__item:hover .img-block__item-text p {
  color: black;
  line-height: 18px;
}
.img-block .img-block__item .img-block__item-text div {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.img-block .img-block__item .img-block__item-text h2 {
  transition: color 0.3s;
  color: transparent;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0;
  font-family: 'gilroy', sans-serif;
  margin-right: 10px;
}
.img-block .img-block__item .img-block__item-text > p {
  max-width: 320px;
  font-family: 'gilroy', sans-serif;
}
.img-block .img-block__item .img-block__item-text p {
  transition: color 0.3s;
  color: transparent;
  font-size: 15px;
  line-height: 18px;
  padding: 0;
  margin-bottom: 0;
}
.img-block .img-block__item img {
  width: 100%;
  height: auto;
  transition: transform 0.3s;
  position: relative;
}
.img-block .img-block__item--special {
  cursor: pointer;
}
@media screen and (max-width: 1000px) {
  .img-block {
    justify-content: center;
  }
  .img-block .img-block__item .img-block__item-text {
    left: 5px;
    bottom: 5px;
  }
  .img-block .img-block__item .img-block__item-text div {
    flex-direction: column;
  }
  .img-block .img-block__item .img-block__item-text h2,
  .img-block .img-block__item .img-block__item-text h5,
  .img-block .img-block__item .img-block__item-text h4,
  .img-block .img-block__item .img-block__item-text p {
    padding: 1px;
    margin-bottom: 3px;
    color: black;
    margin-right: 0;
  }
  .img-block .img-block__item .img-block__item-text h5,
  .img-block .img-block__item .img-block__item-text p {
    font-size: 12px;
  }
  .img-block .img-block__item .img-block__item-text h4 {
    font-size: 14px;
  }
  .img-block .img-block__item--special {
    width: 44%;
  }
}
.social-media {
  display: flex;
  justify-content: space-between;
}
.social-media > li {
  margin-bottom: 0;
}
.social-media > li > a {
  display: block;
  margin-right: 15px;
}
.social-media > li > a img {
  background-color: transparent;
  transition: background-color 0.2s;
  border-radius: 20px;
}
.social-media > li:hover > a img {
  background-color: #F4920B;
  transition: background-color 0.2s;
}
.social-media > li:last-of-type {
  margin-right: 0;
}
.social-media > li:last-of-type a {
  margin-right: 0;
}
.css-1mewcw8:hover,
.css-1mewcw8 {
  background-color: #615e5e !important;
  color: black !important;
}
.css-1ju79ki {
  border-radius: 0px !important;
}
.css-r58ril,
.wx-title.css-1jngo57 {
  display: none;
}
.structure-container {
  max-width: 1700px;
  margin: 0 auto;
  padding: 100px 50px 35px 50px;
  min-height: 80vh;
}
#cinza.structure-container {
  padding: 100px 50px;
}
#cinza .card-list {
  margin-bottom: 0;
}
:where(.wp-block-columns.is-layout-flex) {
  gap: 1em;
}
.wp-block-group {
  box-sizing: border-box;
  padding-top: 30px !important;
  padding-bottom: 100px !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
}
@media screen and (max-width: 700px) {
  .structure-container,
  #cinza.structure-container {
    padding: 45px 15px 30px 15px;
  }
  .wp-block-spacer {
    height: 0 !important;
  }
  .wp-block-group {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
}
.header-menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header-menu-container.header-justify {
  justify-content: space-between;
}
.header-menu-container #menu-filter {
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0;
  font-family: 'gilroy', sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 300;
}
.header-menu-container #menu-filter img {
  transform: rotate(180deg);
  transition: all 0.3s;
}
.header-menu-container #menu-filter img.filter-arrow-active {
  transform: rotate(0deg);
  transition: all 0.3s;
}
.header-menu-container #menu-filter:hover {
  font-weight: 600;
}
ul#main-menu {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: row;
  font-style: normal;
}
ul#main-menu .menu-item-weglot:nth-of-type(1) {
  margin-left: 100px;
}
ul#main-menu .menu-item-weglot {
  margin-right: 0;
}
ul#main-menu .current-menu-item a {
  font-weight: 600;
}
ul#main-menu li a {
  font-size: 16px;
  color: #18191F;
}
ul#main-menu > li {
  position: relative;
  display: flex;
  padding-right: 5px;
  margin-right: 20px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0;
}
ul#main-menu > li > a {
  position: relative;
  text-decoration: none;
  font-family: 'gilroy', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  white-space: nowrap;
  font-weight: 300;
  transition: font-weight 0.3s ease;
}
ul#main-menu > li > ul {
  display: none;
}
ul#main-menu li:nth-child(1) {
  width: 79px;
}
ul#main-menu li:nth-child(2) {
  width: 51px;
}
ul#main-menu li:nth-child(3) {
  width: 42px;
}
ul#main-menu li:nth-child(4) {
  width: 80px;
}
ul#main-menu li:nth-child(5) {
  width: 21px;
}
ul#main-menu li:nth-child(6) {
  width: 20px;
}
ul#main-menu > li:hover a {
  font-weight: 600;
  font-size: 16px;
}
ul#main-menu > li:last-of-type {
  margin-right: 0;
}
#mobile-menu-trigger {
  display: none;
}
@media screen and (max-width: 1080px) {
  ul#main-menu {
    background-color: transparent;
    display: none;
    flex-direction: column;
    margin-top: 0px;
  }
  ul#main-menu .menu-item-weglot {
    position: absolute;
    top: -30px;
    right: 104px;
  }
  ul#main-menu .menu-item-weglot:last-of-type {
    position: absolute;
    top: -30px;
    right: 70px;
  }
  ul#main-menu li {
    padding-left: 0px;
    padding-bottom: 15px;
    margin-bottom: 20px;
  }
  ul#main-menu li a {
    font-size: 16px;
  }
  ul#main-menu li:hover a {
    font-weight: bold;
  }
  .header-menu-container #menu-filter {
    order: 0;
    margin-right: 16px;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 14px;
  }
  #mobile-menu-trigger {
    order: 1;
    left: 15px;
    display: flex;
    background-color: transparent;
    border: none;
    z-index: 100;
    transition: right 0.6s;
    cursor: pointer;
  }
  #mobile-menu-trigger span {
    display: block;
    margin-bottom: 6px;
    height: 2px;
    width: 26px;
    opacity: 1;
    transform: rotate(0deg);
    background-color: black;
  }
  #search-form {
    display: none;
  }
  .menu-open .header-menu-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    min-height: 100vh;
  }
  .menu-open #menu-filter {
    display: none;
  }
  .menu-open #mobile-menu-trigger {
    right: 41.5%;
    transition: right 0.6s;
  }
  .menu-open #mobile-menu-trigger div {
    margin-top: 4px;
  }
  .menu-open #mobile-menu-trigger div span {
    margin-bottom: -1px;
  }
  .menu-open #mobile-menu-trigger div > span:nth-child(1) {
    transform: rotate(45deg);
    transition: transform 0.6s;
  }
  .menu-open #mobile-menu-trigger div > span:nth-child(3) {
    visibility: hidden;
    transform: visibility 0.6s;
  }
  .menu-open #mobile-menu-trigger div > span:nth-child(2) {
    margin-bottom: 8px;
    transform: rotate(-45deg);
    transition: transform 0.6s;
  }
  .menu-open #search-form {
    display: block;
    margin-bottom: 350px;
    right: 50%;
    transform: translate(-50%, -50%);
  }
  .menu-open .menu-menu-principal-container {
    display: flex;
    justify-content: end;
  }
  .menu-open ul#main-menu {
    margin-left: 0px;
    padding-right: 30px;
    padding-top: 30px;
    display: block;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
b,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
header {
  position: fixed;
  width: 100%;
  z-index: 2;
  top: 0;
  margin: 0 auto;
  z-index: 9999;
  background-color: white;
}
header .header-1 {
  width: 48%;
}
header .header-2 {
  width: 48.5%;
  display: flex;
  justify-content: end;
}
header ul li {
  list-style: none;
}
header #logo-anchor img {
  width: auto;
}
header .header__content {
  padding-top: 15px;
  padding-left: 50px;
  padding-bottom: 45px;
  padding-right: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
header .header__content .header-content__button {
  margin-right: 30px;
}
@media screen and (max-width: 1080px) {
  header.menu-open nav {
    display: block;
    position: absolute;
    right: -20px;
    left: 0px;
    top: 50px;
    background-color: white;
  }
}
.corner-element {
  position: fixed;
  height: 0.5px;
  background-color: black;
}
/* Estilize os elementos do canto esquerdo */
.corner-element.left {
  top: 50%;
  left: 0;
  width: 50px;
  transform: translateY(-50%);
}
/* Estilize os elementos do canto direito */
.corner-element.right {
  top: 50%;
  right: 0;
  width: 50px;
  transform: translateY(-50%);
}
@media screen and (max-width: 880px) {
  header .header__content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 20px;
  }
  header .header__content .header-content__button {
    margin-right: 0px;
  }
  header .header-2 {
    align-items: center;
  }
  .corner-element.right,
  .corner-element.left {
    width: 15px;
  }
}
.button-bg {
  padding: 11px 30px 14px 30px;
  background-color: #F4920B;
  color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px -4px 22px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  animation: loadmoreanim infinite 0.5s linear;
  animation: swing infinite 2s linear;
}
.button-bg:hover {
  text-decoration: none;
  opacity: 0.7;
  background-color: #F4920B;
  color: white;
  transition: color 0.2s;
}
@keyframes swing {
  5% {
    transform: rotate3d(0, 0, 1, 5deg);
  }
  10% {
    transform: rotate3d(0, 0, 1, -5deg);
  }
  15% {
    transform: rotate3d(0, 0, 1, 2deg);
  }
  20% {
    transform: rotate3d(0, 0, 1, -2deg);
  }
  25% {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}
@keyframes loadmoreanim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.button-bg > h3 {
  white-space: nowrap;
  text-align: center;
  font-size: 16px;
  line-height: 16px;
  color: white;
  margin-bottom: 0px;
}
.button {
  padding: 11px 20px;
  background-color: #F4920B;
  color: white;
  border-radius: 30px;
  border: 2px solid white;
  text-decoration: none;
  font-weight: bold;
}
.button > h3 {
  white-space: nowrap;
  text-align: center;
  line-heigt: unset;
  font-size: 16px;
  font-weight: lighter;
  color: white;
  margin-bottom: 0px;
}
.button:hover {
  transition: background-color 0.3s;
  background-color: white;
  border-color: #F4920B;
  color: #F4920B;
}
.button:hover > h3 {
  color: #F4920B;
}
.wp-block-button.is-style-outline:hover a {
  background-color: #F4920B;
  color: white;
  transition: background-color 0.4s;
}
.is-style-fill a {
  border: 1px solid #F4920B;
  z-index: 100000;
}
.is-style-fill:hover a {
  color: #F4920B !important;
  background-color: white !important;
  border: 1px solid #F4920B !important;
  transition: background-color 0.3s;
}
@media screen and (max-width: 1080px) {
  .button-bg {
    padding: 11px 12px 13px 12px;
  }
  .button-bg h3 {
    font-size: 15px;
    line-height: 18px;
  }
}
@media screen and (max-width: 600px) {
  .button-bg {
    padding: 11px 10px 13px 10px;
  }
  .button-bg h3 {
    font-size: 12px;
    line-height: 12px;
  }
}
#banner {
  position: relative;
  margin-bottom: -100px;
}
#banner .banner_img {
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 40vh;
}
#banner .banner_button {
  position: absolute;
  bottom: 50px;
  left: 16%;
  max-width: 750px;
  transform: translate(-42%, 0%);
}
@media screen and (max-width: 700px) {
  margin-bottom: -50px;
}
.editor-styles-wrapper .wp-block {
  max-width: 100% !important;
}
.wp-block-columns {
  margin: 80px 0;
}
@media screen and (max-width: 700px) {
  .wp-block-columns {
    margin: 40px 0;
  }
}
.home .wp-block-columns {
  margin: 0;
}
.less-margin {
  margin-top: -140px;
}
.space-between {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
}
.wp-block-image .alignright {
  margin: 0;
}
.text-topics .text-topics__header {
  max-width: 500px;
  text-align: center;
  margin: 0 auto 100px auto;
}
.text-topics .text-topics__body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
}
.text-topics .text-topics__body .text-topics__body-topic {
  width: 280px;
  text-align: center;
}
@media screen and (max-width: 1000px) {
  .text-topics .text-topics__header {
    max-width: 500px;
    text-align: center;
    margin: 0 auto 50px auto;
  }
  .text-topics .text-topics__body {
    justify-content: center;
    align-items: start;
  }
  .text-topics .text-topics__body .text-topics__body-topic {
    width: 180px;
    margin-right: 5px;
    margin-left: 5px;
  }
}
.carousel-main {
  padding: 0;
}
.carousel-main .carousel-text {
  margin: 20px 0 20px 0;
  display: flex;
  justify-content: space-between;
}
.carousel-main img.slick-slide {
  height: 80vh;
  z-index: 999;
  object-fit: cover;
}
.carousel {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  color: transparent;
  overflow: hidden;
  font-family: 'gilroy', sans-serif;
}
.carousel .carousel__imgs {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.carousel .carousel__imgs .slick-list {
  width: 40%;
  max-width: 400px;
}
.carousel .carousel__imgs .slick-list .slick-slide img {
  width: inherit;
  display: block;
}
.carousel .carousel__imgs .slick-list .slick-track .carousel__imgs__item .menu__item__title h2 {
  color: transparent;
}
.carousel .carousel__imgs .slick-dots {
  z-index: 1;
  width: auto;
  height: 320px;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 28px;
}
.carousel .carousel__imgs .slick-dots li {
  width: auto;
  height: auto;
  margin: 0px;
  margin-bottom: 10px;
  border-bottom: none;
  list-style: none;
  min-width: 180px;
}
.carousel .carousel__imgs .slick-dots li button {
  color: black;
  font-size: 14px;
  width: auto;
  height: auto;
  margin: 0;
  font-weight: 300;
  font-family: 'gilroy', sans-serif;
  text-transform: uppercase;
}
.carousel .carousel__imgs .slick-dots li button:before {
  display: none;
}
.carousel .carousel__imgs .slick-dots li.slick-active button {
  font-weight: bold;
}
.carousel .description {
  color: black;
  position: absolute;
  display: flex;
  width: 467px;
  right: 67px;
  justify-content: space-between;
  text-transform: uppercase;
  font-family: 'gilroy', sans-serif;
}
.carousel .menu .menu__item .menu__item__title {
  color: white;
}
.carousel .slick-next,
.carousel .slick-prev {
  display: none !important;
}
#carousel-arrow {
  margin-bottom: 70px;
}
@media screen and (max-width: 850px) {
  .carousel .carousel__imgs {
    margin-top: 50px;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .carousel .carousel__imgs .carousel__imgs__item {
    width: 28%;
    margin-bottom: 25px;
  }
  .carousel .carousel__imgs .carousel__imgs__item img {
    width: 100%;
    margin-bottom: 10px;
  }
  .carousel .carousel__imgs .carousel__imgs__item .menu__item__title {
    text-align: center;
    color: black;
    text-transform: uppercase;
  }
  .carousel .carousel__imgs .carousel__imgs__item .menu__item__title h2 {
    font-size: 12px;
    line-height: 16px;
  }
  .carousel .description {
    left: 0px;
    right: 0px;
    width: auto;
    font-size: 18px;
  }
}
#logo-carousel .logo-carousel-img {
  max-width: 1700px;
  margin: 0 auto;
}
#logo-carousel .logo-carousel-img .slick-list .slick-track {
  display: flex !important;
  align-items: center;
}
#logo-carousel .logo-carousel-img .slick-list .slick-track .logo-carousel-img__item {
  margin: 50px 30px;
}
#logo-carousel .logo-carousel-img .slick-dots {
  display: none;
}
#logo-carousel .logo-carousel-img button {
  background-image: url("../resources/icons/arrow-right.png");
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  width: 50px;
  height: 50px;
  margin-top: 50px;
  margin-right: 30px;
}
#logo-carousel .logo-carousel-img button:before {
  content: '';
}
#logo-carousel .logo-carousel-img button.slick-prev {
  transform: rotate(-180deg);
  margin-top: 25px;
  margin-left: 0;
  z-index: 100;
}
@media screen and (max-width: 700px) {
  #logo-carousel .logo-carousel-img button.slick-prev {
    margin-left: 25px;
  }
  #logo-carousel .logo-carousel-img .slick-list .slick-track .logo-carousel-img__item {
    margin: 40px 6px;
  }
}
footer {
  background-color: white;
  color: black;
  padding-top: 20px;
  margin-left: 20px;
  padding-bottom: 20px;
  margin-right: 20px;
  border-top: 1px solid black;
}
footer .projeto {
  display: none;
}
footer .menu-item-weglot {
  display: none;
}
footer #footer-container {
  display: none;
}
footer .footer-content {
  max-width: 1700px;
  display: flex;
  justify-content: space-between;
}
footer #logo-anchor {
  display: none;
}
footer .footer-first {
  display: flex;
}
footer a {
  margin-right: 30px;
  line-height: normal;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}
footer a:hover {
  font-weight: 600;
}
footer .footer-about {
  display: flex;
  justify-content: space-between;
}
footer .footer-about div p {
  font-weight: bold;
}
footer .footer-about p,
footer .footer-about a {
  color: black;
  font-size: 12px;
  margin-bottom: 0;
  text-decoration: none;
}
footer .footer-about a {
  display: block;
}
footer .footer-about a:hover {
  font-weight: 600;
}
@media screen and (max-width: 785px) {
  footer.footer-sticky {
    position: sticky;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10000;
  }
  footer.footer-sticky .projeto {
    display: none;
  }
  footer {
    position: relative;
    margin-top: 50px;
  }
  footer #logo-anchor {
    display: block;
    margin-bottom: 20px;
    margin-left: -8px;
  }
  footer #logo-anchor img {
    max-height: 33px;
  }
  footer .projeto {
    position: absolute;
    top: -50px;
    right: 0;
    left: 0;
    height: 30px;
    border-top: 1px solid black;
    padding-top: 19px;
    display: block;
  }
  footer a {
    font-size: 12px;
    margin-right: 0;
  }
  footer .footer-first > a {
    display: none;
  }
  footer #footer-container {
    display: block;
  }
  footer #footer-container li a {
    font-size: 12px;
    margin-bottom: 20px;
  }
  footer .footer-about {
    flex-direction: column;
  }
  footer .footer-about .social-media {
    flex-direction: column;
  }
  footer .footer-about .social-media li a {
    margin-right: 0;
  }
  footer .footer-about div {
    margin-bottom: 0px;
  }
  footer .footer-about a,
  footer .footer-about p {
    margin-bottom: 20px;
  }
}
#equipe {
  margin: 0px 0 100px 0;
}
#equipe .equipe-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#equipe .equipe-items .equipe-item {
  display: flex;
  width: 29%;
  align-items: flex-start;
  margin: 20px 0;
}
#equipe .equipe-items .equipe-item img {
  border-radius: 20px;
  width: 42%;
  max-width: 230px;
  margin-right: 15px;
}
#equipe .equipe-items .equipe-item div h4 {
  margin-bottom: 7px;
}
#equipe .equipe-items .equipe-item div p {
  font-size: 15px;
  margin-bottom: 10px;
  line-height: 20px;
}
#equipe .equipe-items .equipe-item__2columns {
  width: 40%;
}
#equipe .equipe-items .equipe-item__2columns img {
  width: 42%;
  margin-right: 15px;
}
@media screen and (max-width: 1250px) {
  #equipe .equipe-items .equipe-item {
    margin: 20px auto;
  }
  #equipe .equipe-items .equipe-item img {
    max-width: 250px;
  }
}
@media screen and (max-width: 700px) {
  #equipe {
    margin: 0 0 50px 0;
  }
  #equipe .equipe-items {
    flex-direction: column;
  }
  #equipe .equipe-items .equipe-item__2columns {
    width: 100%;
  }
  #equipe .equipe-items .equipe-item {
    width: 100%;
    align-items: start;
  }
  #equipe .equipe-items .equipe-item img {
    width: 150px;
    margin-right: 10px;
  }
  #equipe .equipe-items .equipe-item div {
    width: auto;
  }
  #equipe .equipe-items .equipe-item p {
    font-size: 14px;
    margin-bottom: 10px;
  }
}
.services {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.services .services-text {
  width: 40%;
  margin-right: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.services .services-img {
  display: flex;
  margin-top: 30px;
}
.services .services-img .services-img__img {
  margin-right: 20px;
  position: relative;
}
.services .services-img .services-img__img:last-of-type {
  margin-right: 0;
}
.services .services-img .services-img__img img {
  cursor: pointer;
  max-width: 225px;
  border-radius: 20px;
}
.services .services-img .services-img__img p {
  position: absolute;
  bottom: 0px;
  left: 10px;
  padding: 3px;
  color: black;
  font-size: 18px;
  font-weight: bold;
  font-family: 'sofiapro', sans-serif;
}
.services .services-img .services-img__img .services-img__phrase {
  background-color: transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  right: 0;
  border-radius: 20px;
}
.services .services-img .services-img__img .services-img__phrase p {
  color: transparent;
}
.services .services-img .services-img__img:hover .services-img__phrase {
  background-color: #F4920B;
  transition: all 0.4s;
}
.services .services-img .services-img__img:hover .services-img__phrase p {
  color: white;
}
.services .services-img .services-img__img__only {
  position: relative;
}
.services .services-img .services-img__img__only img {
  cursor: pointer;
  border-radius: 20px;
}
.services .services-img .services-img__img__only p {
  position: absolute;
  bottom: 0px;
  left: 10px;
  padding: 3px;
  color: black;
  font-size: 18px;
  font-weight: bold;
  font-family: 'sofiapro', sans-serif;
}
@media screen and (max-width: 1000px) {
  .services {
    flex-direction: column;
  }
  .services .services-text {
    width: 70%;
  }
  .services .services-img {
    margin-top: 20px;
  }
  .services .services-img .services-img__img {
    width: 30%;
  }
  .services .services-img .services-img__img img {
    max-width: 100%;
  }
  .services .services-img .services-img__img__only img {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .services {
    flex-direction: column;
  }
  .services .services-text {
    width: 100%;
  }
  .services .services-img .services-img__img {
    margin-right: 5px;
  }
  .services .services-img .services-img__img .services-img__phrase {
    display: none;
  }
  .services .services-img .services-img__img p {
    bottom: -5px;
    font-size: 10px;
    left: 0;
  }
}
#carousel-arrow #carousel-arrow-item img {
  width: auto;
  max-width: 100%;
  max-height: 600px;
  margin: 0 auto;
}
#carousel-arrow #carousel-arrow-item .slick-arrow {
  background-color: transparent;
  bottom: -15px;
  top: unset;
  z-index: 100;
}
#carousel-arrow #carousel-arrow-item .slick-prev {
  left: 48%;
}
#carousel-arrow #carousel-arrow-item .slick-next {
  right: 46%;
}
#carousel-arrow #carousel-arrow-item .slick-prev:before,
#carousel-arrow #carousel-arrow-item .slick-next:before {
  color: transparent;
}
@media screen and (max-width: 1000px) {
  #carousel-arrow #carousel-arrow-item .slick-prev {
    left: 45%;
  }
  #carousel-arrow #carousel-arrow-item .slick-next {
    right: 43%;
  }
}
.cards-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.cards-list .cards-list__item {
  width: 32%;
  margin-right: 2%;
  min-width: 110px;
  display: block;
  color: black;
  text-decoration: none;
  position: relative;
  transition: all 0.7s ease;
  max-width: 100%;
  margin-bottom: 40px;
  cursor: pointer;
}
.cards-list .cards-list__item:nth-of-type(3n) {
  margin-right: 0;
}
.cards-list .cards-list__item .cards-list__item-img {
  position: relative;
}
.cards-list .cards-list__item img {
  width: 100%;
  height: auto;
}
.cards-list .cards-list__item:hover {
  position: relative;
}
.cards-list .cards-list__item:hover span {
  position: absolute;
  top: 0px;
  right: 0;
  left: 0;
  bottom: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  transition: background 0.3s;
}
.cards-list .cards-list__item img {
  width: 100%;
  height: auto;
  transition: transform 0.3s;
  position: relative;
}
.cards-list .cards-list__item .cards-list__item-text div {
  display: flex;
  justify-content: space-between;
}
.cards-list .cards-list__item .cards-list__item-text h2 {
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0;
}
.cards-list .cards-list__item .cards-list__item-text > p {
  max-width: 320px;
}
.cards-list .cards-list__item .cards-list__item-text p {
  font-size: 15px;
  line-height: 18px;
  padding: 0;
  margin-bottom: 0;
}
.cards-list .cards-list__item--special {
  cursor: pointer;
}
@media screen and (max-width: 1000px) {
  .cards-list {
    margin-bottom: 50px;
  }
  .cards-list .cards-list__item .cards-list__item-text {
    left: 5px;
    bottom: 5px;
  }
  .cards-list .cards-list__item .cards-list__item-text h5,
  .cards-list .cards-list__item .cards-list__item-text h4,
  .cards-list .cards-list__item .cards-list__item-text p {
    padding: 1px;
    margin-bottom: 3px;
  }
  .cards-list .cards-list__item .cards-list__item-text h5,
  .cards-list .cards-list__item .cards-list__item-text p {
    font-size: 12px;
  }
  .cards-list .cards-list__item .cards-list__item-text h4 {
    font-size: 14px;
  }
  .cards-list .cards-list__item--special {
    width: 44%;
  }
}
@media screen and (max-width: 700px) {
  .page-template-page-cinza .cards-list {
    flex-direction: column;
    width: 100%;
  }
  .page-template-page-cinza .cards-list .cards-list__item {
    width: 100%;
    display: flex;
  }
  .page-template-page-cinza .cards-list .cards-list__item .cards-list__item-img {
    width: 60%;
    margin-right: 10px;
  }
  .page-template-page-cinza .cards-list .cards-list__item .cards-list__item-text {
    width: 40%;
  }
  .page-template-page-cinza .cards-list .cards-list__item .cards-list__item-text > p {
    display: none;
  }
  .page-template-page-cinza .cards-list .cards-list__item .cards-list__item-text > div {
    display: block;
  }
  .page-template-page-cinza .cards-list .cards-list__item .cards-list__item-text > div p {
    padding: 0;
  }
}
.filter {
  margin-bottom: 20px;
  transition: margin-top 0.5s;
  /* Estilize o marcador do checkbox */
  /* Altera a cor do marcador quando o checkbox está marcado */
}
.filter .filter-form {
  position: relative;
}
.filter input[type="checkbox"] {
  width: 13px;
  /* Define a largura */
  height: 13px;
  /* Define a altura */
  margin: 0 5px 0 0;
  padding: 0;
  appearance: none;
  /* Remove o estilo padrão do navegador */
  cursor: pointer;
  /* Altera o cursor */
}
.filter input[type="checkbox"]::before {
  content: "";
  /* O marcador não tem conteúdo */
  display: block;
  border: 1px solid black;
  width: 100%;
  /* Preenche todo o espaço do checkbox */
  height: 100%;
  /* Preenche todo o espaço do checkbox */
  background-color: white;
  /* Cor de fundo do marcador */
  transition: background-color 0.3s;
  /* Adiciona uma transição de cor de fundo */
}
.filter input[type="checkbox"]:checked::before {
  background-color: black;
  /* Cor de fundo quando marcado */
}
.bold {
  font-weight: bold;
}
#filtro-categorias {
  padding-bottom: 0px;
  transition: all 0.3s;
}
#filtro-categorias.open {
  padding-bottom: 40px;
  transition: all 0.3s;
}
.bloco select {
  appearance: none;
  border-radius: 0;
  width: 100%;
  padding: 10px 0 10px 2px;
  border-right: none;
  border-left: none;
  font-family: 'gilroy', sans-serif;
  text-transform: capitalize;
  font-weight: 100;
  font-size: 1rem;
}
.bloco select * {
  font-family: 'gilroy', sans-serif;
  background-color: white;
  color: black;
  text-transform: capitalize;
}
.bloco .selections img {
  position: absolute;
  left: 93%;
  width: 15px;
  top: 14px;
  transform: rotate(180deg);
}
.bloco .selections.selection-last {
  width: 50%;
}
.search-form {
  position: relative;
  font-family: 'gilroy', sans-serif;
}
.search-form .search-field {
  border: none;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 5px;
  background-color: transparent;
  font-family: 'gilroy', sans-serif;
  width: 100px;
}
.search-form .search-field::placeholder {
  color: #BCBCBC;
  font-family: 'gilroy', sans-serif;
}
.search-form .search-submit {
  position: absolute;
  right: -5px;
  bottom: -6px;
  height: 40px;
  width: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.search-form .search-submit img {
  width: 14px;
}
#filtro-categorias {
  display: flex;
  justify-content: space-between;
  font-family: 'gilroy', sans-serif;
  width: 100%;
}
#filtro-categorias .blocos {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#filtro-categorias .blocos .blocos-1 {
  display: flex;
  width: 49.8%;
}
#filtro-categorias .blocos .bloco {
  margin-right: 15px;
  font-weight: 300;
  margin-right: 30px;
}
#filtro-categorias .blocos .bloco label {
  position: absolute;
  top: -30px;
  width: 100%;
  border-bottom: 1px solid black;
}
#filtro-categorias .blocos .bloco .filter-selected {
  font-weight: bold;
  word-spacing: 5px;
  cursor: pointer;
}
#filtro-categorias .blocos .bloco .category {
  text-transform: capitalize;
  cursor: pointer;
}
#filtro-categorias .blocos .bloco .category:hover {
  font-weight: bold;
}
#filtro-categorias .blocos .bloco ul {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  max-height: 0;
  padding-top: 20px;
  left: 0;
  transition: all 0.2s;
}
@media screen and (max-width: 650px) {
  #filtro-categorias .blocos .bloco ul {
    position: relative;
  }
}
#filtro-categorias .blocos .bloco ul.active {
  max-height: 500px;
  transition: all 0.2s;
}
#filtro-categorias .blocos .bloco ul li {
  margin-right: 20px;
  cursor: pointer;
}
#filtro-categorias .blocos .bloco ul li:hover {
  font-weight: bold;
}
#filtro-categorias .blocos .bloco ul .no-projects {
  color: lightgray;
  cursor: not-allowed;
}
#filtro-categorias .blocos .bloco ul .no-projects:hover {
  font-weight: 300;
}
#filtro-categorias .blocos > .bloco {
  margin-right: 0;
}
#filtro-categorias .blocos > .bloco label {
  width: 60%;
}
#filtro-categorias #limpar-filtros {
  text-wrap: nowrap;
  color: black;
  background: white;
  align-self: center;
  padding: 13px 48px;
  width: 48%;
  font-weight: 300;
  line-height: 14px;
  text-transform: uppercase;
  border: 1px solid gray;
  font-size: 14px;
  cursor: pointer;
  font-family: 'gilroy', sans-serif;
}
#filtro-categorias #limpar-filtros:hover {
  background-color: black;
  color: white;
  transition: all 0.3s;
}
@media screen and (max-width: 650px) {
  #filtro-categorias .blocos .bloco {
    flex-direction: column;
  }
}
@media screen and (max-width: 650px) {
  #filtro-categorias .blocos {
    flex-direction: column;
  }
  #filtro-categorias .blocos .bloco {
    width: 100%;
    flex-direction: row;
    margin-bottom: 10px;
  }
  #filtro-categorias .blocos .bloco > div {
    margin-right: 0;
    width: 100%;
  }
  #filtro-categorias .blocos > .bloco {
    flex-direction: column;
    justify-content: center;
  }
  #filtro-categorias .blocos > .bloco label {
    width: 100%;
  }
  #filtro-categorias .blocos .blocos-1 {
    width: 100%;
    flex-direction: column;
  }
  #filtro-categorias #limpar-filtros {
    margin-top: 20px;
    width: auto;
  }
  .search-form {
    width: 50%;
    right: unset;
    left: 0;
    bottom: -6px;
    top: unset;
  }
  .search-form .search-submit {
    right: 0;
  }
  .search-form .search-submit img {
    width: 13px;
  }
  .search-form input {
    width: 98%;
  }
  .search-form .search-field {
    width: 100%;
  }
}
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loading-spinner {
  border: 1px solid #f3f3f3;
  border-top: 1px solid grey;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#blog-single .blog-single__header {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
}
#blog-single .blog-single__header h2 {
  line-height: 22px;
  margin-right: 10px;
  font-weight: 600;
  text-transform: uppercase;
}
#blog-single .blog-single__header p {
  margin-bottom: 0;
}
#blog-single .blog-single__img {
  width: 100%;
  height: 75vh;
  object-fit: cover;
}
.breadcrumb {
  display: none;
  position: relative;
}
.breadcrumb .breadcrumb__content {
  position: absolute;
  top: -45px;
  left: 90px;
  display: flex;
  font-size: 16px;
  color: #615e5e;
  font-weight: bold;
  font-family: 'proximanova', sans-serif;
  z-index: 1000;
}
.breadcrumb .breadcrumb__content a {
  font-size: 16px;
  color: #615e5e;
  text-decoration: none;
  font-family: 'proximanova', sans-serif;
}
.home .breadcrumb {
  display: none;
}
@media screen and (max-width: 2560px) {
  .breadcrumb .breadcrumb__content {
    top: -50px;
    left: 35px;
  }
}
@media screen and (max-width: 700px) {
  .breadcrumb .breadcrumb__content {
    top: -50px;
    left: 0;
  }
}
.mail {
  display: flex;
  justify-content: center;
}
.mail > div:first-of-type {
  margin-right: 30px;
}
.mail .mc-field-group,
.mail input {
  background-color: #fff9f1;
}
.mail h2 {
  text-transform: uppercase;
  margin-top: 0;
}
.mail #mc_embed_signup form {
  padding-top: 0;
}
.mail #mc_embed_signup .mc-field-group {
  min-height: 40px;
}
.mail #mc_embed_signup .mc-field-group input {
  border: none;
  border-bottom: 1px solid black;
  padding-bottom: 2px;
}
.mail #mc_embed_signup .button {
  height: auto;
  line-height: auto;
  padding: 8px 20px;
  background-color: #F4920B;
  color: white;
  border-radius: 30px;
  border: 2px solid #F4920B;
  text-decoration: none;
  font-weight: bold;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.mail #mc_embed_signup .button:hover {
  background-color: white;
  border-color: #F4920B;
  color: #F4920B;
}
.mail #mc_embed_signup div#mce-responses {
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 880px) {
  .mail {
    flex-direction: column;
    align-items: center;
  }
  .mail > div:first-of-type {
    margin-right: 0px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }
  .mail > div:first-of-type img {
    width: 50%;
  }
  .mail #mc_embed_signup {
    width: 100%;
  }
}
.link-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.link-list a.link-list__item {
  width: 48%;
  text-decoration: none;
  min-width: 173px;
}
.link-list a.link-list__item h2 {
  font-size: 24px;
  line-height: auto;
  margin-bottom: 0;
  white-space: nowrap;
}
.link-list a.link-list__item:hover h2 {
  color: #F05B66;
}
@media screen and (max-width: 700px) {
  .link-list .link-list__item {
    width: 80%;
  }
}
.carousel-mini {
  margin-top: 30px;
}
.carousel-mini .carousel-mini__item div {
  position: relative;
}
.carousel-mini .carousel-mini__item div img {
  height: 56vh;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.carousel-mini .carousel-mini__item div figcaption {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 10px;
}
.carousel-mini .carousel-mini__item div figcaption p {
  padding: 10px 20px;
  margin: 0;
  color: white;
}
.carousel-mini .carousel-mini__nav {
  margin-top: 30px;
}
.carousel-mini .carousel-mini__nav img {
  border-radius: 10px;
  margin-right: 10px;
  margin-left: 10px;
}
.carousel-mini .carousel-mini__nav .slick-prev {
  left: 20px;
  z-index: 10;
}
.carousel-mini .carousel-mini__nav .slick-next {
  right: 24px;
  z-index: 10;
}
.carousel-mini .carousel-mini__nav .slick-next:before,
.carousel-mini .carousel-mini__nav .slick-prev:before {
  opacity: 1;
  color: orange;
  font-size: 28px;
}
.carousel-mini .carousel-mini__text {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}
.carousel-mini .carousel-mini__text div:first-of-type {
  width: 55%;
}
.carousel-mini .carousel-mini__text div:nth-of-type(2) {
  margin-top: 20px;
  width: 30%;
}
@media screen and (max-width: 700px) {
  .carousel-mini .carousel-mini__item img {
    height: 35vh;
  }
  .carousel-mini .carousel-mini__nav {
    margin-top: 15px;
  }
  .carousel-mini .carousel-mini__nav img {
    border-radius: 3px;
    margin-right: 3px;
    margin-left: 3px;
  }
  .carousel-mini .carousel-mini__text {
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .carousel-mini .carousel-mini__text div:first-of-type {
    width: 100%;
  }
  .carousel-mini .carousel-mini__text div:nth-of-type(2) {
    margin-top: 20px;
    width: 100%;
  }
}
.home-special-img {
  position: relative;
  padding-bottom: 350px;
}
.home-special-img p {
  z-index: 1;
}
.home-special-img figure {
  z-index: 0;
}
.home-special-img img {
  max-height: 700px;
  position: absolute;
  right: 0;
  top: auto;
  bottom: 0px;
  width: auto;
  z-index: 0;
}
@media screen and (max-width: 700px) {
  .home-special-img {
    padding-bottom: 130px;
  }
}
.home-special-img--2 {
  position: relative;
}
.home-special-img--2 img {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 85vh;
  width: auto;
}
@media screen and (max-width: 1160px) {
  .home-special-img--2 img {
    display: none;
  }
}
.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0;
  width: 100%;
}
.project-list .project-list__item {
  width: 18%;
  margin-right: 2.4%;
  text-decoration: none;
}
.project-list .project-list__item img {
  width: 100%;
}
.project-list .project-list__item a span {
  background-color: transparent;
  transition: background 0.3s;
}
.project-list .project-list__item a:hover {
  position: relative;
}
.project-list .project-list__item a:hover span {
  position: absolute;
  top: 0px;
  right: 0;
  left: 0;
  bottom: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  transition: background 0.3s;
}
.project-list .project-list__item:nth-of-type(5n) {
  margin-right: 0;
}
.project-list__item-description {
  display: flex;
  justify-content: flex-start;
  margin-top: 5px;
  margin-bottom: 20px;
  text-decoration: none;
}
.project-list__item-description h2 {
  margin-bottom: 0;
  line-height: 22px;
  margin-right: 10px;
  text-decoration: none;
  font-weight: 600;
  color: black;
  text-transform: uppercase;
}
.project-list__item-description p {
  color: black;
  font-weight: 300;
  margin-bottom: 0;
  text-decoration: none;
}
.project-list.relacionados .project-list__item {
  width: 22.5%;
  margin-right: 2.5%;
  text-decoration: none;
}
@media screen and (max-width: 600px) {
  #resultado-posts.project-list {
    flex-direction: column;
  }
  #resultado-posts.project-list .project-list__item {
    width: 100%;
  }
}
#project-single .project-single__header .project-single__header__btn {
  display: flex;
  flex-direction: column;
  position: absolute;
}
#project-single .project-single__header .project-single__header__btn .button {
  cursor: pointer;
  position: absolute;
  background-color: transparent;
  border: none;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
}
#project-single .project-single__header .project-single__header__btn span {
  background-color: #615e5e;
  width: 1px;
  height: 30px;
  margin-left: 20px;
}
#project-single .project-single__header .project-single__header__btn .arrow-1 {
  transform: rotate(45deg);
}
#project-single .project-single__header .project-single__header__btn .arrow-2 {
  margin-top: -9px;
  transform: rotate(-45deg);
}
#project-single .project-single__header .project-single__header__btn:hover span {
  background-color: #1D3831;
  width: 2px;
}
#project-single .project-single__header .project-single__header__img {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  width: 30%;
  margin: 0 auto 20px auto;
}
#project-single .structure-block p {
  text-align: justify;
}
#project-single .post-password-form {
  width: 30%;
  margin: 20px auto;
}
#project-single .post-password-form input[type="submit"] {
  border: 1px solid black;
  border-radius: 0;
  background-color: #FCE5C4;
  padding: 10px;
  text-align: left;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 9px;
}
#project-single .post-password-form input::placeholder {
  font-size: 9px;
}
#project-single .post-password-form p:nth-of-type(2n) {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
#project-single .post-password-form p:nth-of-type(2n) label {
  color: transparent !important;
}
#project-single .post-password-form p:nth-of-type(2n) input[type="password"] {
  font-size: 9px;
  width: 100%;
  box-sizing: border-box;
  background-color: #FCE5C4;
  padding: 10px;
  border: black 1px solid;
  border-bottom: none;
}
#carousel-project {
  display: none;
  margin-bottom: 50px;
}
#carousel-project .slick-slide {
  text-decoration: none;
}
#carousel-project .slick-slide img {
  margin: 0 auto 5px auto;
  width: 92%;
}
#carousel-project .slick-slide .project-list__item-description {
  width: 92%;
  margin: 0 auto;
  display: none;
  text-decoration: none;
}
#carousel-project .slick-dots {
  bottom: -25px;
}
#carousel-project .slick-dots li {
  margin: 0 2px;
}
#carousel-project .slick-dots li button:before {
  content: '-';
  line-height: 0;
  font-size: 46px;
}
#carousel-project .slick-current.slick-slide .project-list__item-description {
  display: flex;
}
@media screen and (min-width: 1700px) {
  #project-single .project-single__header .project-single__header__img {
    width: 31%;
  }
  #project-single .post-password-form {
    width: 31%;
  }
}
@media screen and (max-width: 1000px) {
  #project-single .project-single__header .project-single__header__img {
    width: 45%;
  }
  #project-single .post-password-form {
    width: 31%;
  }
}
@media screen and (max-width: 700px) {
  #blog-single #resultado-posts.project-list {
    display: none;
  }
  #carousel-project {
    display: block;
  }
  #project-single .project-single__header .project-single__header__img {
    width: 99%;
  }
  #project-single .post-password-form {
    width: 99%;
  }
}
.text-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 45px;
}
.text-box > .text-box__item__title {
  width: 30%;
}
.text-box > .text-box__item {
  width: 30%;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  border-color: #615e5e;
  border-width: 1px;
  border-style: solid;
  font-family: 'CircularStd';
  font-weight: 400;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom-color: transparent;
}
.text-box > .text-box__item > * {
  padding-right: 5px;
}
.text-box > .text-box__item > h4 {
  font-size: 9px;
  padding-left: 10px;
  text-transform: uppercase;
  font-family: 'CircularStd';
}
.text-box > .text-box__item > a {
  display: flex;
  justify-content: space-between;
  padding-right: 0px;
  text-decoration: none;
}
.text-box > .text-box__item > a h4 {
  font-size: 9px;
  padding-left: 10px;
  text-transform: uppercase;
  font-family: 'CircularStd';
}
.text-box > .text-box__item > a > div.arrow {
  margin-right: 9px;
}
.text-box > .text-box__item > a > div.arrow:before {
  content: "";
  width: 1px;
  height: 26px;
  background-color: #615e5e;
  display: block;
  position: absolute;
  top: 0;
  right: 29px;
}
.text-box > .text-box__item > a > div.arrow span {
  background-color: #615e5e;
  display: block;
  width: 10px;
  height: 1px;
  margin-left: 20px;
}
.text-box > .text-box__item > a > div.arrow .arrow-1 {
  transform: rotate(45deg);
}
.text-box > .text-box__item > a > div.arrow .arrow-2 {
  margin-top: 6px;
  transform: rotate(-45deg);
}
.text-box > .text-box__item .text-box__item__more > .text-box__item__more-button {
  position: absolute;
  box-sizing: border-box;
  border-left-width: 1px;
  border-left-style: solid;
  border-bottom-style: solid;
  border-color: #615e5e;
  top: 0px;
  right: 0;
  height: 26px;
  width: 30px;
}
.text-box > .text-box__item .text-box__item__more > .text-box__item__more-button > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 11px;
}
.text-box > .text-box__item .text-box__item__more > .text-box__item__more-button > div span {
  background-color: #615e5e;
  width: 15px;
  height: 1px;
}
.text-box > .text-box__item .text-box__item__more > .text-box__item__more-button > div span:nth-of-type(2n) {
  margin-top: -0.5px;
  transform: rotate(90deg);
  transition: transform 0.3s;
}
.text-box > .text-box__item .text-box__item__more-text {
  display: none;
  margin-top: 15px;
  padding-left: 10px;
}
.text-box .text-box__item:last-of-type {
  border-bottom-color: #615e5e;
}
.text-box h4.active ~ .text-box__item__more-text {
  display: block;
}
.text-box h4.active ~ .text-box__item__more {
  height: 8px;
  display: block;
  border-bottom: 1px #615e5e solid;
}
.text-box h4.active ~ .text-box__item__more .text-box__item__more-button {
  border-bottom-width: 1px;
}
.text-box h4.active ~ .text-box__item__more .text-box__item__more-button div span:nth-of-type(2n) {
  transform: rotate(0deg);
  transition: transform 0.3s;
}
.text-box > .text-box__item .active.text-box__item__more ~ .text-box__item__more-text {
  display: block;
}
.text-box > .text-box__item .active.text-box__item__more {
  height: 8px;
  display: block;
  border-bottom: 1px #615e5e solid;
}
.text-box > .text-box__item .active.text-box__item__more .text-box__item__more-button {
  border-bottom-width: 1px;
}
.text-box > .text-box__item .active.text-box__item__more .text-box__item__more-button div span:nth-of-type(2n) {
  transform: rotate(0deg);
  transition: transform 0.3s;
}
.image-columns .text-box {
  margin-top: 30px;
}
@media screen and (min-width: 1700px) {
  .text-box > .text-box__item {
    width: 31%;
  }
  .text-box > .text-box__item__title {
    width: 31%;
  }
}
@media screen and (max-width: 1000px) {
  .text-box > .text-box__item__title {
    width: 45%;
  }
  .text-box > .text-box__item {
    width: 45%;
  }
}
@media screen and (max-width: 700px) {
  .text-box {
    width: 99%;
    margin: 0 auto 10px auto;
  }
  .text-box > .text-box__item__title {
    width: 99%;
  }
  .text-box > .text-box__item {
    width: 99%;
  }
}
.featherlight .featherlight-content {
  background-color: transparent !important;
}
.featherlight .featherlight-image {
  border: 1px solid black;
}
.featherlight .featherlight-close-icon {
  background: transparent !important;
}
.mwl .mwl__metadata {
  display: none;
}
.mwl .mwl__navigations {
  top: 90%;
}
.mwl .mwl__navigations .mwl__navigation__previous,
.mwl .mwl__navigations .mwl__navigation__next {
  padding: 2px 0;
  line-height: 12px;
}
.mwl .mwl__navigation__next svg,
.mwl .mwl__navigation__previous svg {
  width: 23px;
}
.wp-block-embed iframe {
  width: 100%;
}
.wp-block-video {
  margin: -74px 0 0 0;
}
@media screen and (max-width: 700px) {
  .wp-block-embed iframe {
    width: 100%;
    height: 220px;
  }
  .wp-block-video video {
    height: 30vh;
  }
}
figure,
.wp-block-image {
  margin-bottom: 20px;
}
figure figcaption,
.wp-block-image figcaption {
  width: 100%;
  font-size: 16px;
  text-align: right;
}
figure figcaption a,
.wp-block-image figcaption a {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 300;
}
.template-tc {
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 150px;
  min-height: 60vh;
}
.template-tc .template-tc__header {
  position: relative;
  min-height: 150px;
  margin-bottom: 75px;
}
.template-tc .template-tc__header img {
  position: absolute;
  height: 150px;
  width: auto;
  margin-left: -10.5%;
}
.template-tc .template-tc__header .template-tc__title {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150px;
  text-align: center;
}
.template-tc h1:nth-child(2) {
  margin-top: -203px;
  margin-bottom: 75px;
  text-align: center;
}
@media screen and (max-width: 700px) {
  .template-tc {
    padding-top: 70px;
  }
  .template-tc .template-tc__header {
    min-height: 80px;
    margin-bottom: 30px;
  }
  .template-tc .template-tc__header img {
    height: 50px;
    margin-left: -12%;
  }
  .template-tc .template-tc__header .template-tc__title {
    min-height: 50px;
  }
  .template-tc h1:nth-child(2) {
    margin-top: -100px;
  }
}
h1,
h2,
h4,
h5 {
  font-family: 'gilroy', sans-serif;
  font-weight: 300;
  font-size: 15px;
}
h1 {
  line-height: 22px;
}
h3 {
  font-size: 18px;
  font-family: 'gilroy', sans-serif;
  font-weight: 300;
  margin-bottom: 40px;
}
p,
a,
ul,
li {
  font-family: 'gilroy', sans-serif;
  font-weight: 300;
}
a {
  font-size: 15px;
  display: block;
  color: black;
}
p,
ul li {
  color: black;
  font-size: 15px;
  margin-bottom: 10px;
  line-height: 22px;
}
strong {
  font-weight: bold;
}
blockquote,
q {
  margin: 0px 8% 30px 8%;
  font-style: italic;
}
blockquote p:last-of-type,
q p:last-of-type {
  margin-bottom: 15px;
}
.block-title {
  margin-top: -200px;
  margin-bottom: 75px;
  display: flex;
  flex-direction: column;
}
.block-title h2 {
  margin-bottom: 0px;
}
.block-title h1 {
  margin-bottom: 0px !important;
  line-height: 85px;
  min-height: auto;
  text-transform: none;
}
.block-title h4 {
  line-height: 65px;
  margin-bottom: 0px !important;
  min-height: auto;
  text-transform: none;
}
.block-title .block-title__left {
  justify-content: flex-start;
}
.block-title .block-title__left h1 {
  text-align: left;
}
.block-title .block-title__center {
  justify-content: center;
}
.block-title .block-title__center div {
  text-align: center;
}
.block-title .block-title__center div * {
  color: inherit;
  word-wrap: break-word;
}
.block-title .block-title__right {
  justify-content: right;
}
.block-title .block-title__right h1 {
  text-align: right;
}
.block-title .block-title__description {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
.block-title .block-title__description p {
  max-width: 680px;
  text-align: right;
}
.block-title .block-title__description p:last-of-type {
  margin-bottom: 0px;
  max-width: 680px;
  text-align: right;
}
@media screen and (max-width: 700px) {
  .block-title {
    margin-top: -100px;
  }
  .block-title h1 {
    margin-top: -10px;
    line-height: 40px;
  }
}
.link-list {
  margin-right: -13%;
}
.link-list .link-list__item {
  margin-bottom: 15px;
}
.link-list .link-list__item h3 {
  margin-bottom: 0px;
  margin-right: 5px;
}
.link-list .link-list__item a {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none;
  font-size: 24px;
}
.link-list .link-list__item a:hover {
  text-decoration: underline;
  text-decoration-color: inherit;
}
.link-list .link-list__item a:hover h3 {
  text-decoration: underline;
  text-decoration-color: inherit;
}
@media screen and (max-width: 700px) {
  .link-list .link-list__item a {
    font-size: 16px;
  }
}
.gallery {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
}
.gallery .gallery__destak {
  margin-bottom: 2px;
}
.gallery .gallery__items {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}
.gallery .gallery__items img {
  cursor: pointer;
  width: 148px;
  height: auto;
  margin-right: 2.3px;
  margin-bottom: 2px;
}
.gallery .gallery__items img:nth-of-type(6n) {
  margin-right: 0px;
}
@media screen and (max-width: 700px) {
  .gallery .gallery__items img {
    width: 94px;
    margin-right: 2px;
  }
  .gallery .gallery__items img:nth-of-type(4n) {
    margin-right: 0px;
  }
  .gallery .gallery__items img:nth-of-type(6n) {
    margin-right: 2px;
  }
}
@-ms-viewport {
  width: device-width;
}
