.filter {
	// margin-top: -86px;
	margin-bottom: 20px;
	transition: margin-top 0.5s;
	.filter-form {
		position: relative;
		// display: flex;
		// justify-content: space-between;
		// align-items: flex-start;
	}
	input[type="checkbox"] {
        width: 13px; /* Define a largura */
        height: 13px; /* Define a altura */
        margin: 0 5px 0 0;
        padding: 0;
        // border: 1px solid black; /* Adiciona uma borda */
        appearance: none; /* Remove o estilo padrão do navegador */
        cursor: pointer; /* Altera o cursor */
    }

    /* Estilize o marcador do checkbox */
    input[type="checkbox"]::before {
        content: ""; /* O marcador não tem conteúdo */
        display: block;
		border: 1px solid black;
        width: 100%; /* Preenche todo o espaço do checkbox */
        height: 100%; /* Preenche todo o espaço do checkbox */
        background-color: white; /* Cor de fundo do marcador */
        transition: background-color 0.3s; /* Adiciona uma transição de cor de fundo */
    }

    /* Altera a cor do marcador quando o checkbox está marcado */
    input[type="checkbox"]:checked::before {
        background-color: black; /* Cor de fundo quando marcado */
    }
}


.search-form {
	// position: relative;
	// margin-top: -39px;
	font-family: 'gilroy', sans-serif;
	position: absolute;
    right: 0;
    top: -39px;
	.search-field{
		border: none;
		border-bottom: 1px solid black;
		padding-bottom: 5px;
		padding-top: 5px;
		padding-left: 5px;
	}
	.search-field::placeholder {
		color: #BCBCBC;
		font-family: 'gilroy', sans-serif;

	}
	.search-submit {
		position: absolute;
		right: -5px;
		bottom: -6px;
		height: 40px;
		width: 40px;
		background-color: transparent;
		border: none;
		cursor: pointer;
		img {
			width: 14px;
		}
	}
}
#filtro-categorias {
	display: flex;
    justify-content: space-between;
	font-family: 'gilroy', sans-serif;
	width: 100%;
	input:checked{
		background-color: red;
	}
	input {
		margin-left: 0;
	}
	.blocos {
		display: flex;
		justify-content: flex-start;
		width: 100%;
		.blocos-1 {
			display: flex;
			width: 52%;
			
		}
		.bloco {
			width: 50%;
			display: flex;
			flex-wrap: wrap;
			position: relative;
			margin-right: 15px;
			font-weight: 300;
			label {
				position: absolute;
				top: -30px;
				width: 100%;
				border-bottom: 1px solid black;
			}
			
			> div {
				display: flex;
				flex-direction: column;
				margin-right: 25px;
			}
		}
		>.bloco {
			label {
				width: 60%;
			}
		}
	}
	button {
		position: absolute;
		right: 0px;
		top: 17px;
		color: black;
		background: white;
		align-self: center;
		padding: 10px 48px;
		font-weight: 300;
		line-height: 14px;
		text-transform: uppercase;
		border: 1px solid black;
		font-size: 14px;
		cursor: pointer;
		font-family: 'gilroy', sans-serif;
		&:hover {
			background-color: black;
			color: white;
			transition: all 0.3s;
		} 
	}
}
@media screen and (max-width: 1200px){
	#filtro-categorias {
		.blocos {
			.bloco {
				flex-direction: column;
			}
		}
	} 
}
@media screen and (max-width: 650px){
	#filtro-categorias {
		.blocos {
			flex-direction: column;
			.bloco {
				width: 100%;
				flex-direction: row;
				margin-bottom: 35px;
				> div {
					margin-right: 0;
					width: 50%;
				}
			}
			>.bloco {
				label {
					width: 100%;
				}
			}
			.blocos-1 {
				width: 100%;
				flex-direction: column;
			}
		}
		button {
			bottom: -6px;
			top: unset;
			width: 50%;
		}
	}
	.search-form {
		width: 50%;
		right: unset;
		left: 0;
		bottom: -6px;
		top: unset;
		.search-submit {
			right: 0;
			img {
				width: 13pxs;
			}
		}
		input {
			width: 98%;
		}
	}
}