@import './structure.less';

footer {
	background-color: white;
	color: black;
	padding-top: 20px;
	margin-left:20px;
	padding-bottom: 20px;
	margin-right: 20px;
	border-top: 1px solid black;
	.menu-item-weglot {
		display: none;
	}

	#footer-container {
		display: none;
	}
	.footer-content {
		max-width: @screen-lg;
		display: flex;
		justify-content: space-between;
	}
	#logo-anchor {
		display: none;
	}
	.footer-first {
		display: flex;
	}
	a {
		margin-right: 30px;
		line-height: normal;
		color: black;
		text-decoration: none;
		text-transform: uppercase;
	}
	a:hover {
		font-weight: 600;
	}
	.footer-about {
		display: flex;
		justify-content: space-between;
		div {
			p {
				font-weight: bold;
			}
		}

		p, a {
			color: black;
			font-size: 12px;
			margin-bottom: 0;
			text-decoration: none;
		}
		a {
			display: block; 
		}
		a:hover {
			font-weight: 600;
		}
	}
	
}
@media screen and (max-width: 785px) {
	.footer-sticky {
		position: sticky;
		bottom: 0;
		right: 0;
		left: 0;
		z-index: 10000;
	}
	footer {
		position: relative;
		#logo-anchor {
			display: block;
			margin-bottom: 20px;
			margin-left: -8px;
		}
		a {
			font-size: 12px;
			margin-right: 0;
		}
		.footer-first {
			>a {
				display: none;
			}
		}

		#footer-container{
			display: block;
			li {
				a {
					font-size: 12px;
					margin-bottom: 20px;
				}
			}
		}
		.footer-about {
			flex-direction: column;
			.social-media {
				flex-direction: column;
				li {
					a {
						margin-right: 0;
					}
				}
			}
			div {
				margin-bottom: 0px;
			}

			a,p {
				margin-bottom: 20px;
			}
		}
	}
}