.img-block {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	.img-block__item {
		width: 100%;
		min-width: 110px;
		display: block;
		color: black;
		text-decoration: none;
		position: relative;
		transition: all 0.7s ease;
		max-width: 100%;
		cursor: pointer;
		.img-block__item-img {
			position: relative;
		}
		img {
			width: 100%;
			height: auto;
		} 
		&:hover {		
			position: relative;
			span {
				position: absolute;
				top: 0px;
				right: 0;
				left: 0;
				bottom: 5px;
				background-color: rgba(0, 0, 0, 0.3); 
				transition: background 0.3s;
			}
			.img-block__item-text {
				h2,p{
					color: black;
				}
			}

		}
		.img-block__item-text {
			div {
				display: flex;
				justify-content: space-between;
			}
			h2{
				transition: color 0.3s;
				color: transparent;
				font-weight: 600;
				text-transform: uppercase;
				margin-bottom: 0;
				font-family: 'gilroy', sans-serif;
			}
			>p {
				max-width: 320px;
				font-family: 'gilroy', sans-serif;
			}

			p {
				transition: color 0.3s;
				color: transparent;
				font-size: 15px;
				line-height: 18px;
				padding: 0;
				margin-bottom: 0;
			}
		}

		img {
			width: 100%;
			height: auto;
			transition: transform 0.3s;
			position: relative;
		}

	}
	.img-block__item--special {
		cursor: pointer;

		&:hover {
			img{
			}	
			&:after {

			}

		}

	}
}
@media screen and (max-width: @screen-md) {
	.img-block {
		justify-content: center;
		.img-block__item {
			.img-block__item-text {
				div {
					flex-direction: column;
				}
				left: 5px;
				bottom: 5px;
				h5, h4, p {
					padding: 1px;
					margin-bottom: 3px;
				}
				h5, p {
					font-size: 12px;
				}
				h4 {
					font-size: 14px;
				}
			}
		}
		.img-block__item--special {
			width: 44%;
		}
	}
}