#logo-carousel {
	.logo-carousel-img {
		max-width: @screen-lg;
		margin: 0 auto;
		.slick-list {
			.slick-track {
				display: flex !important;
				align-items: center;
				.logo-carousel-img__item {
					margin: 50px 30px;
					// width: auto !important;
					// max-height: 150px;
				}
			}
		}				
		.slick-dots {
			display: none;		
		}
		button {
			width: 50px;
			height: 50px;
			&:before {
				content: '';
				background-image: url("../resources/icons/arrow-right.png");
				display: block;
				background-repeat: no-repeat;
				background-size: contain;
				width: 50px;
				height: 50px;
			}
			&.slick-prev {
				transform: rotate(-180deg);
			}
		}
	}
}
@media screen and (max-width: @screen-sm) {
	#logo-carousel {
		.logo-carousel-img {
			.slick-list {
				.slick-track {
					.logo-carousel-img__item {
						margin: 40px 6px;
					}
				}
			}
		}
	}
}