#cinza {
    background-color: #CACACA;
    .wp-block-columns {
        margin: 60px 0;
        figure ~figure {
            margin: 50px 0;
        }

        .wp-block-columns {
            margin:0;
        }
    }
}
