@import './structure.less';


h1, h2,  h4, h5 {
	font-family: "gilroy";
	font-weight: 300;
	font-size: 15px;
}
h3 {
	font-size: 18px;
	font-family: "gilroy";
	font-weight: 300;
	margin-bottom: 40px;
}
p, a, ul, li {
	font-family: 'gilroy', sans-serif;
	font-weight: 300;
}
a {
	display: block;
	color: black;
}


p, ul li {
	color: black;
	font-size: 15px;
	margin-bottom: 10px;
	line-height: 22px;
}

strong {
	font-weight: bold;
}


blockquote, q {
	margin:0px 8% 30px 8%;
	font-style: italic;
	p:last-of-type {
		margin-bottom: 15px; 
	}
}

@media screen and (max-width: @screen-sm) {
	h1 {
		font-size: 30px;
		line-height: 36px;
	}
	h2 {
		font-size: 28px;
		line-height: 34px;
	}
	h3 {
		font-size: 18px;
		line-height: 24px;
	}
	h4 {
		font-size: 16px;
		line-height: 20px;
	}
	h5 {
		font-size: 15px;
		line-height: 18px;
	}
	h6 {
		font-size: 16px;
		line-height: 24px;
	}
	p {
		font-size: 16px;
		line-height: 18px;
	}
	a {
		font-size: 16px;
	}
	.rich-text {
		ul {
			li {
				margin-bottom: 13px;
			}
		}
	}

// 	h1 {
// 		font-size: 30px;
// 		line-height: 25px;
// 		min-height: auto;
// 	}
// 	h2 {
// 		font-size: 20px;
// 		line-height: 21px;
// 	}
// 	h3 {
// 		font-size: 16px;
// 		margin-bottom: 3px;
// 		line-height: 19px;
// 	}
// 	p {
// 		font-size: 14px;
// 		line-height: 16px;
// 	}
// 	strong {
// 	font-size: 20px;
// 	line-height: 21px;
// }
// 	figure, .wp-block-image {
// 		margin-bottom: 30px;
// 		margin-top: 30px;
// 		figcaption {
// 			font-size: 12px;
// 			a {
// 				font-size: 12px;
// 			}
// 		}
// 	}
}